.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEE2E6;
    }
.containerHello {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.text{
    margin-right: 20px;
}
.ya {
    width: 360px;
    height: 80%;
    background: url("./ya.png");
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 1;
    background-size: cover;
}
.photo {
    width: 340px;
    height: 270px;
    background: url("./Image.png");
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 650px) {
    .ya {
        width: 360px;
        height: 50%;
        background: url("./ya.png");
        position: absolute;
        top: 100;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        background-size: cover;}
    .photo {
        margin-top: 70px;
        margin-right: -10px;        
    }
    .containerHello {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
    }
    .hello {
        margin-top: 40px;
    }
}